{% extends 'base.html' %}

{% set title = 'Home' %}

{% block content %}
<h1>{{data.menu.header}}</h1>

<ul>
    {% for item in data.menu.items %}
    <li>
      {{item.id}} 
      {% if item.label %} 
        <button type="button">{{item.label}}</button> 
      {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}